# Node
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
client/node_modules/
server/node_modules/

# Build output
dist/
build/

# VS Code
.vscode/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Others
*.swp
*.swo
